"bin/\nobj/\n.vs/\n**/*.user\n**/*.suo\n" 
*.vsidx
*.suo
/.vs/Benefits.Starter.slnx/v18/DocumentLayout.json
*.cache

bin/
obj/
out/

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates


Migrations/*Designer.cs

appsettings.Development.json